div.page {
    background: white;
    display: block;
    margin: 0 auto 0.5cm auto;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    width: 21cm;
    height: 29.7cm;
    position: relative;
}
.hintergrund {
    width: 100%;
    height: 100%;
}
#kopf>input {
    position: absolute;
    border: 1px solid pink;
    padding: 0 5px; /* default: 1px 2px */
    height: 23px;
}
#teilnehmer, #praktikumsstelle {
    left: 160px;
    width: calc(308px - 5px);
}
#kunden-nr, #monat {
    left: 563px;
    width: calc(150px + 5px);
}
#teilnehmer, #kunden-nr {
    top: 166px;
}
#praktikumsstelle, #monat {
    top: calc(166px + 23px);
}
#container {
    position: absolute;
    top: 236px;
    left: 56px;
    width: 682px;
    height: 743px;
    border: 1px orange solid;
}
#container>div>input {
    background-color: transparent;
    border: none;
    padding: 0 5px;
    width: calc(100% - 10px);
    height: 23px;
    margin-top: 0.4%; /* when using %: margin is calculated against width */
}
#container>#bemerkung>input {
    margin-top: 0.2%;
}
#arbeitsbeginn,
#arbeitsende,
#zeitstunden,
#bemerkung {
    position: absolute;
    top: 19px;
    border: 1px darkmagenta solid;
    height: 723px;
}
#arbeitsbeginn {
    left: 41px;
    width: 84px;
}
#arbeitsende {
    left: 144px;
    width: 83px;
}
#zeitstunden {
    left: 227px;
    width: 83px;
}
#bemerkung {
    left: 310px;
    width: 196px;
}
@media print {
    body, div.page {
        margin: 0;
        box-shadow: unset;
    }
    .hintergrund {
        image-resolution: 600dpi;
    }
    input, #container {
        border-color: transparent;
    }
}